<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Welcome to Database Server (without the database)!
    </h1>
    <p>
      Please enter your value below and submit:
    </p>
    <form action="/set/create" method="post">
      <div>
        <label for="somekey">somekey's value:</label>
        <input type="text" name="somekey" placeholder="Enter value here">
      </div>
      <br>
      <div class="">
        <button type="submit">Save Value</button>
      </div>
    </form>
  </body>
</html>
