<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Welcome to Database Server (without the database)!
    </h1>
    <p>
      Please set the key and value for the following URL:
    </p>
    <p>
      http://localhost:4000/set?<strong>KEY</strong>=<strong>
      VALUE</strong>
    </p>
  </body>
</html>
